<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <script src="https://kit.fontawesome.com/fb7e7bab0c.js" crossorigin="anonymous"></script>
 
  </head>
  <body>
    <main>
      <div class="circle">
        <div class="line-container">
          <div class="line" id="l-01">
            <span id="line__text-l">C</span>
            <span id="line__text-r">5</span>
          </div>
          <div class="line" id="l-02">
            <span id="line__text-l">D</span>
            <span id="line__text-r">6</span>
          </div>
          <div class="line" id="l-03">
            <span id="line__text-l">E</span>
            <span id="line__text-r">7</span>
          </div>
          <div class="line" id="l-04">
            <span id="line__text-l">F</span>
            <span id="line__text-r">8</span>
          </div>
          <div class="line" id="l-05">
            <span id="line__text-l">0</span>
            <span id="line__text-r">9</span>
          </div>
          <div class="line" id="l-06">
            <span id="line__text-l">1</span>
            <span id="line__text-r">A</span>
          </div>
          <div class="line" id="l-07">
            <span id="line__text-l">2</span>
            <span id="line__text-r">B</span>
          </div>
          <div class="line" id="l-08">
            <span id="line__text-l">3</span>
          </div>
          <span id="line__text-r-out">4</span>
        </div>      
        
        <div class="arrow"><i class="fas fa-long-arrow-alt-up"></i></div> 
      </div>
      </section>
    </main>
    <script type="module" src="/javascripts/main.js"></script>
  </body>
</html>
